include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include PROTOCOL-TRACE.md
recursive-include qem_bench/noise/data *.json
recursive-include examples *
recursive-include requirements *.lock
recursive-include tests *.py
recursive-include tools *.py
